<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Credit Card:</strong>
  <%= @user.credit_card_info %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
<% if !current_user.admin %>
  <%= button_to "Destroy this user", @user, method: :delete %><br><br>
<% end %>
